{% extends 'base.html.twig' %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="text-center col-xs-4">
                {{ form_start(form) }}
                <fieldset>
                    <legend>S'enregistrer:  </legend>
                    <br>
                    {{ form_row((form.lastName)) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.age) }}
                    {{ form_row(form.address1) }}
                    {{ form_row(form.address2) }}
                    {{ form_row(form.postalCode) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    {{ form_row(form.submit) }}
                </fieldset>
                {{ form_end(form) }}
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
{% endblock %}