{% extends 'base.html.twig' %}

{%  block nav %}
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home_page') }}">KeyProSol</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home_page') }}">Accueil</a></li>
                <li class="active"><a href="{{ path('trouve_page') }}">J'ai trouvé</a></li>
                <li><a href="{{ path('perdu_page') }}">J'ai perdu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href={{ path('user_registration') }}><span class="glyphicon glyphicon-user"></span> S'enregistrer</a></li>
                <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
            </ul>

        </div>
    </nav>
{% endblock %}
{% block main %}
    <h2> J'ai trouvé un objet:</h2>
    <br>
    <h3>Je me connecte avec un compte existant:</h3>
    <form>
        <fieldset>
            <legend>Se connecter:</legend>
            Adresse mail:<br>
            <input type="email" name="email" value="Entrez une adresse email"><br>
            <input type="password" name="password" value="Entrez votre mot de passe"><br>
            <input type="submit" value="Se connecter">
        </fieldset>
    </form>
    <br>
    <h3>Je crée un compte:</h3>
    <a>Créer un compte</a>
    <br>
    <h3>Mode invité:</h3>
    <form>
        <fieldset>
            <legend>Informations nécéssaires:</legend>
            Adresse mail:<br>
            <input type="email" name="email" value="Entrez une adresse email"><br>
            Message:<br>
            <input type="text" name="message" value="Entrez votre message"><br>
            RIB/IBAN:<br>
            <input type="number" value="IBAN"><br>
            <input type="submit" value="Envoyer">
        </fieldset>
    </form>

{% endblock %}